{% extends 'index.html' %}

{% form_theme form _self %}

{% block form_row %}
<div class="form-group">
	{{ form_label(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<h1>PGP Mailer</h1>
	<hr/>

	{% if app.session.flashBag.has('successfull') %}
		<div class="alert alert-success">{{ app.session.flashBag.get('successfull')[0] }}</div>
	{% endif %}

	{% if error %}
		<div class="alert alert-success">An error has occurred. Please try it again.</div>
	{% endif %}

	<form method="post" action="{{ app.url_generator.generate('contact') }}" enctype="application/x-www-form-urlencoded">
		{{ form_widget(form) }}
	</form>
</div>
{% endblock %}
